/prebuilts
/toolchain
/vendor
/tools
/out
.idea
/k/out
/k/prebuilts
/k/prebuilts-master
/k/.idea
.DS_Store
test
/platform_testing
/sdk
/pdk
/packages
/libnativehelper
/hardware
/external
/developers
/development
/dalvik
/cts
/bootable
/kernel
protobuf-3.0.0
.repo
